* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0B0B0B;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #C9A24D;
    color: #000;
    margin-top: 20px;
}
